<ion-view view-title="Step">
  <ion-content class="has-header padding">

    <div class="row">
      <div class="col">
        <!--<p ng-init="findWorkouts()"></p>-->
        <p>Steps: {{ stepCounts }}</p>
        <p>Distance: {{ distance }} </p>
        <p>StartDate: {{ startDate }} </p>
        <p>EndDate: {{ endDate }} </p>

        <b>History</b>
        <p>History Step: {{ stepCountFromDate }}</p>
        <p>History StartDate: {{ historyStartDate }}</p>
        <p>History EndDate: {{ historyEndDate }}</p>
      </div>
    </div>


    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-warpper">
        </lable>
      </div>
    </div>
  </ion-content>
</ion-view>
